@page "/"


<table>
    <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
    </tr>
    <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
    </tr>
</table>