@inherits LayoutComponentBase


<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">MvvmTetris</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://github.com/xin9le/MvvmTetris">GitHub</a>
                <a class="nav-item nav-link" href="https://twitter.com/xin9le">&copy; xin9le</a>
            </div>
        </div>
    </nav>
</header>

<main>
    @this.Body
</main>