@page "/"


@using MvvmTetris.Engine.Models
@using MvvmTetris.Engine.ViewModels


@functions
{
    public GameViewModel Game { get; } = new GameViewModel();


    protected override void OnInit()
    {
        this.Game.Play();
    }

    private void OnKeyDown(UIKeyboardEventArgs e)
    {
        switch (e.Code)
        {
            case "KeyZ":       this.Game.Field.RotationTetrimino(RotationDirection.Left);  break;
            case "KeyX":       this.Game.Field.RotationTetrimino(RotationDirection.Right); break;
            case "ArrowUp":    this.Game.Field.RotationTetrimino(RotationDirection.Right); break;
            case "ArrowRight": this.Game.Field.MoveTetrimino(MoveDirection.Right); break;
            case "ArrowDown":  this.Game.Field.MoveTetrimino(MoveDirection.Down);  break;
            case "ArrowLeft":  this.Game.Field.MoveTetrimino(MoveDirection.Left);  break;
            case "Escape":     this.Game.Play(); break;
            case "Space":      this.Game.Field.ForceFixTetrimino(); break;
        }
    }
}


<div tabindex="0" onkeydown="@this.OnKeyDown">
    <FieldComponent Field="@this.Game.Field" />
    <FieldComponent Field="@this.Game.NextField" />
</div>