@page "/"


@using MvvmTetris.Engine.Models
@using MvvmTetris.Engine.ViewModels
@using MvvmTetris.Blazor.Components


@functions
{
    public GameViewModel Game { get; } = new GameViewModel();


    protected override void OnInit()
        => this.Game.InputCommand.Execute(Command.Play);


    private void OnKeyDown(UIKeyboardEventArgs e)
    {
        var x = this.Game.InputCommand;
        switch (e.Code)
        {
            case "KeyZ": x.Execute(Command.RotateLeft); break;
            case "KeyX": x.Execute(Command.RotateRight); break;
            case "ArrowUp": x.Execute(Command.RotateRight); break;
            case "ArrowRight": x.Execute(Command.MoveRight); break;
            case "ArrowDown": x.Execute(Command.MoveDown); break;
            case "ArrowLeft": x.Execute(Command.MoveLeft); break;
            case "Escape": x.Execute(Command.Play); break;
            case "Space": x.Execute(Command.ForceFix); break;
        }
    }
}


<div class="game" tabindex="0" onkeydown="@this.OnKeyDown">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <FieldComponent Field="@this.Game.Field" />
            </div>
            <div class="col-4">
                <FieldComponent Field="@this.Game.NextField" />
                <ScoreComponent Score="@this.Game.Score" />
            </div>
        </div>
    </div>

    @if (this.Game.IsOver.Value)
    {
        <div class="game-over">Game is over !<br />Please press Esc key.</div>
    }
</div>